@media (max-width: 768px) {
  .passwordInput {
    width: 100% !important;
  }
  .group {
    width: 80% !important;
  }
}
.group {
  width: 65%;
}
.passwordError {
  border: solid #dc3545 3px !important;
}
