.aboutContainer {
  background-image: url("https://images.unsplash.com/photo-1637952112301-6090dca83ccb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.title {
  font-size: 5em;
  text-align: center;
}

.textContainer {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50vh;
}

.description {
  text-align: center;
  height: 100vh;
}
.info {
  text-align: center;
  font-size: 4em;
  background-image: linear-gradient(to right, #fff, #afabab);
  font-weight: 600;
  background-color: rgba(#fff, #fff, #fff, 0.6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.scrollButton {
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: #a78bfa;
  transition: all 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scrollButton:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: #60a5fa;
}
.aboutInfo {
  /* height: 150vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .info {
    margin-top: 150px !important;
    font-size: 3em !important ;
  }
}

.newContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
